body{
    background-color: beige;
    margin: 0;
    align-items: center;
    align-content: center;
}

button{
    padding: 0.5rem;
    background-color: brown;
    border-style: none;
    border-radius: 8px;
    cursor: pointer;

    font-size: medium;
    color: wheat;
}

/* header */
header{
    margin: 0;
    width: 100%;
}

.headerContainer{
    margin: 0;
    background-color: wheat;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.headerLoginContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: brown;
}

.headerLoginButton{
    padding: 1rem;
}


/* home */
/*searchFilters*/
.filterBarContainer{
    display: flex;
    flex-direction: row;
    margin: 2rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.searchInput{
    font-size: medium;
    margin-right: 2rem;
    margin-left: 1rem;
    width: 40%;
    box-sizing: border-box;
}

.dropdownContainer {
    font-weight: bold;
}

.filterSelect {
    margin-left: 15px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

/*venuecontainers*/
.venueItemContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin: 2rem;
    margin-inline: 10rem;
}

.venueItem{
    background-color: brown;
    color: wheat;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
}


/* login */
.loginFormContainer{
    width: 100%;
    margin: auto;
    margin-top: 2rem;
}

.loginForm{
    margin: auto;
    padding: 1rem;
    background-color: wheat;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80vw;
    max-width: 300px;
    border-radius: 8px;
}

.input{
    margin: 4px;
    font-size: medium;
}

.loginFormButton{
    margin-top: 8px;
}