body{
    background-color: beige;
    margin: 0;
    align-items: center;
    align-content: center;
}

button{
    cursor: pointer;
}

/* header */

header{
    margin: 0;
    width: 100%;
}

.headerContainer{
    margin: 0;
    background-color: wheat;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.headerLoginContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: brown;
}

.headerLoginButton{
    padding: 1rem;
    background-color: brown;
    border-style: none;
    border-radius: 8px;

    font-size: medium;
    color: wheat;
}



/* home */
.venueItemContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin: 2rem;
}

.venueItem{
    background-color: brown;
    color: wheat;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
}


/* login */
.loginFormContainer{
    width: 100%;
    margin: auto;
    margin-top: 2rem;
}

.loginForm{
    margin: auto;
    padding: 1rem;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80vw;
    max-width: 300px;
    border-radius: 8px;
}

.input{
    margin: 4px;
    font-size: medium;
}

.loginFormButton{
    padding: 0.5rem;
    background-color: brown;
    border-style: none;
    border-radius: 8px;
    margin-top: 8px;

    font-size: medium;
    color: wheat;
}